__pycache__
.DS_Store
*.ckpt
*.safetensors
*.pth

.venv
.DS_Store
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode

/.coverage*
/.idea
/cache
/cache.json*
/config_states/
/config.json
/embeddings
/ESRGAN/*
/extensions
/gfpgan/weights/*.pth
/GFPGANv1.3.pth
/interrogate
/log
/model.ckpt
/models/**/*
/node_modules
/outputs
/package-lock.json
/params.txt
/repositories
/styles.csv
/styles.csv.bak
/SwinIR
/SwinIR/*
/test/stderr.txt
/test/stdout.txt
/test/test_outputs
/textual_inversion
/tmp
/ui-config.json
/user.css
/venv
/webui-user.bat
/webui-user.sh
/webui.settings.bat
notification.mp3
/cache
trace.json
/sysinfo-????-??-??-??-??.json
